@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --font: 16px/1.5 "Inter", sans-serif;
}

body {
  font: var(--font);
}

div.container {
  max-width: 800px;
  margin: 0 auto;
}
